.Topbar {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: rgb(100, 100, 100);
    box-shadow: 0px 0px 8px 0px black;
    overflow: hidden;
  }

.link {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  color:rgb(240, 240, 240);
  cursor: pointer;
  height: 40px;
  font-size: large;  
  text-decoration: none;
  
}

.link:hover {
  background-color: rgb(240, 240, 240);
  color: black;
}