.auth {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.auth input, button {
    margin-top: 30px;
    padding: 16px;
    font-size: 20px;
}

.auth p {
    font-size: 16px;
}